.active {
  color: #ff6347; /* Tomato color */
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none;
}

.hamburger-icon {
  font-size: 3vw;
  color: #fff;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.nav-custom {
  height: 5vw;
}
