<ul ngbNav class="justify-content-end align-items-center nav-custom">
  <li
    ngbDropdown
    placement="bottom-right"
    class="d-inline-block float_left point dropdown-menu-left"
  >
    <a class="" id="dropdownBasic1" ngbDropdownToggle>
      <i class="bi hamburger-icon bi-list"></i>
    </a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </li>
</ul>
