<div class="footer-img-container mt-3">
  <div class="footer-img">
    <div class="links m-auto row">
      <a class="col-sm d-flex mt-3 justify-content-center">Over mij</a>
      <a class="col-sm d-flex mt-3 justify-content-center">Tarieven</a>
      <a class="col-sm d-flex mt-3 justify-content-center">Recepten</a>
      <a class="col-sm d-flex mt-3 justify-content-center">Online</a>
      <a class="col-sm d-flex mt-3 justify-content-center">Vragen</a>
    </div>
    <div class="links m-auto row">
      <a class="col-sm d-flex mt-3 justify-content-center"
        ><img class="img-fluid" src="/assets/images/link1.png"
      /></a>
      <a class="col-sm d-flex mt-3 justify-content-center"
        ><img class="img-fluid" src="/assets/images/link2.png"
      /></a>
      <a class="col-sm d-flex mt-3 justify-content-center"
        ><img class="img-fluid" src="/assets/images/link3.png"
      /></a>
      <a class="col-sm d-flex mt-3 justify-content-center"
        ><img class="img-fluid" src="/assets/images/link4.png"
      /></a>
      <a class="col-sm d-flex mt-3 justify-content-center"
        ><img class="img-fluid" src="/assets/images/link5.png"
      /></a>
    </div>
  </div>
</div>
<div class="footer-rest-container">
  <div class="row lower-footer">
    <div class="col mt-3 d-flex left-footer">
      <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgewichtsconsulenteaanhuisenonline%2F%3Fref%3Dembed_page&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="340"
        height="130"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
    </div>
    <div class="col mt-3 middle-footer">
      <strong>Gewicht én Voeding in Balans</strong>
      <ul>
        <li><a href="/">Algemene voorwaarden</a></li>
        <li><a href="/">Meest gestelde vragen</a></li>
        <li><a href="/">Vergoedingen</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </div>
    <div class="col mt-6 m-auto right-footer">
      Gewicht én Voeding in Balans &#169; 2024; Ontwikkeld door
      <strong>Jesse Hoed</strong>
    </div>
  </div>
</div>
