@use 'vars';

.welcome-home {
  color: vars.$primaryColor;
  font-family: 'Euphoria Script', cursive;
  font-weight: bold;
  font-size: 3rem;

  width: 50%;
  text-align: center;
}

h5 {
  color: vars.$primaryColor;

  text-align: center;
}

.home-img {
  border: 1px solid rgb(222, 222, 222);
  box-shadow: rgb(136, 136, 136) 1px 2px 5px;
}

.witte_kader-img-left {
  display: none;
}

.witte_kader-img-right {
  width: 520px;
}

.mobile_picture {
  text-align: center;
}

.intro-home {
  font-family:
    Century Gothic,
    sans-serif;
}

.witte_kader-text {
  text-align: center;
  font-weight: 400;
}

.contact-button-home {
  font-family:
    Century Gothic,
    sans-serif;
  background-color: vars.$primaryColor;
  border: 1px solid vars.$primaryColor;

  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .witte_kader-img-left {
    display: block;
  }

  .witte_kader-img-right {
    display: none;
  }

  .home-container-right {
    display: none;
  }
}

.slideshow {
  z-index: -2;
}

.slide-img {
  height: 28rem;
  width: 100%;
}
