<ngb-carousel
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
  [interval]="7000"
  class="slideshow mt-3"
>
  <ng-template ngbSlide>
    <img
      src="/assets/images/slide1.jpg"
      class="img-fluid slide-img"
      alt="First slide"
    />
    <div class="carousel-caption">
      <h3>Welkom</h3>
      <p>
        bij Gewicht én Voeding in Balans! Je hebt zojuist al je eerste stap
        gezet om het roer om te gooien en te gaan werken aan een gezonde
        leefstijl.
      </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="/assets/images/slide2.jpg"
      class="img-fluid slide-img"
      alt="Second slide"
    />
    <div class="carousel-caption">
      <h3>Welkom</h3>
      <p>
        bij Gewicht én Voeding in Balans! Je hebt zojuist al je eerste stap
        gezet om het roer om te gooien en te gaan werken aan een gezonde
        leefstijl.
      </p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="home-main mt-5 row">
  <div class="home-container-left col">
    <h2 class="welcome-home m-auto">Welkom</h2>

    <h5 class="mt-4">bij Gewicht én Voeding in Balans!</h5>
    <div class="mt-2 intro-home">
      <p>
        Je hebt zojuist al je eerste stap gezet om het roer om te gooien en te
        gaan werken aan een gezonde leefstijl.<br /><em
          >Centimeters verliezen, meer energie, beter slapen, betere stoelgang
          en een gezond gewicht!</em
        >
      </p>
      <p>
        We gaan vooral ook aan de slag met je mindset, ik zeg altijd zolang er
        niets verandert in je brein, val je niet af.
      </p>
      <p>
        Tevens is het belangrijk om te gaan kijken, hoe zit je in je vel, heb je
        veel spanning, kun je bewegen of juist niet. Vooral ook het omgaan met
        eten, we hebben zoveel verleidingen om ons heen en zoveel eten dat dat
        best lastig kan zijn. Ik ga samen met jou aan de slag om je eetgedrag
        aan te passen, maar wel dat het echt bij jou past en jij er goed bij
        voelt. Eerst maak ik menu's voor je en daarna ga je dat zelf doen,
        natuurlijk samen met mij. Ik ga berekenen voor jou wat jij precies nodig
        hebt voor je lichaam, om af te vallen maar wel alles binnen te krijgen.
      </p>
      <p>
        En door middel van een op jouw afgestemd voedingsmenu, lukt het ook jou
        om een gezond gewicht te behalen en centimeters te verliezen en wat nog
        veel belangrijker is, deze ook eraf te houden! Je gaat zoveel leren
        vooral over jezelf en jouw gedragingen en tevens ga ik je leren om het
        strijden met voeding los te leren laten. Des te minder strijd het
        is/wordt des te beter ga je voor jezelf zorgen en beter eten. Vooral je
        strijd met eten dat gaat niet meer gebeuren.
      </p>
      <p>
        Samen gaan we werken aan een gezonde manier van jouw leven, als je graag
        wilt afvallen, doen we dit op de verantwoorde manier zonder<em
          > shakes of pillen.</em
        ><br /><br />
      </p>
      <div class="mobile_picture">
        <img
          class="witte_kader-img-left home-img img-fluid"
          src="/assets/images/Witte_Kader.jpg"
        />
      </div>
      <p class="mt-4">
        <strong style="color: #1bcfcf"
          >Ik kom bij jou thuis voor de consulten, fijn in je eigen omgeving.
          Tevens nu ook online begeleiding!
          <em
            >De begeleiding blijft hetzelfde, je krijgt je volledige map thuis
            gestuurd.</em
          ></strong
        >
      </p>
      <p>
        Ik ben gediplomeerd gewichtsconsulente, voedingsdeskundige en beschik
        ook over de specialisatie Kind en Voeding.
      </p>
      <p>
        Gezonder eten hoeft niet persé te betekenen minder lekker eten, juist
        niet. Ik zal je in de consulten vertellen hoe!<br />Je zal gewoon gaan
        eten en daarbij hoort dus ook af en toe dat stukje taart of patatje.
      </p>
      <p>
        Tevens verdiep ik mij ook altijd in verschillende eetculturen. Een
        aantal Marokkaanse, Turkse, Indische en Griekse dames en heren heb ik al
        begeleid. Ik hou rekening met jouw behoeftes en tradities. Daar ga ik
        samen met jou mee aan de slag, ook zodat iedereen kan mee eten in het
        gezin. Je hoeft niet apart te gaan koken voor jezelf.
      </p>
      <p>
        <strong style="color: #1bcfcf"
          ><em>Vergoeding<br /></em></strong
        >Mooi bijkomend voordeel is dat zorgverzekeraars de begeleiding
        gedeeltelijk kunnen vergoeden vanuit je aanvullende verzekering. (zie
        overzicht vergoedingen).
      </p>
      <p>
        <em>Lees vooral ook de reviews op deze website </em
        ><em>of op mijn facebook pagina.</em>
      </p>
      <p>
        <strong style="color: #1bcfcf"
          ><em
            >Enthousiast geworden en wil je met mij aan de slag om weer helemaal
          </em></strong
        ><em><strong style="color: #1bcfcf">gezond</strong></em
        ><strong style="color: #1bcfcf"
          ><em>
            te worden?  Vraag gerust een vrijblijvend gesprek eerst aan om te
            kijken of het bij je past.</em
          ></strong
        >
      </p>
      <p>
        <a class="btn contact-button-home btn-primary" href="/contact">
          Vraag vrijblijvend een kennismakingsgesprek aan!
        </a>
      </p>
    </div>
    <div class="video-player">
      <div class="embed-responsive video-player embed-responsive-16by9">
        <iframe
          src="https://www.youtube.com/embed/KNjT0RljmSo?si=vIJeJkb_GVnF8Myj"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          class="embed-responsive-item"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="home-container-right ml-1 col">
    <div class="mobile_picture">
      <img
        class="witte_kader-img-right home-img img-fluid"
        src="/assets/images/Witte_Kader.jpg"
      />
    </div>
    <p class="witte_kader-text mt-3">
      Sandy Hoed <br />Gewichtsconsulente en voedingsdeskundig
    </p>
  </div>
</div>
